.node-label {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Rounded corners for the square box */
  width: auto;
  display: inline-block;
}

.node-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.node-details {
  color: #666;
}

.vis-image {
  border-radius: 50%; /* Rounded border for the circular image */
}
